<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="../static/style.css">

    <title>OCR Auto Scheduler</title>
</head>

<body>
    <div class="verify" style="text-align: center;">
        <br>
        <h1>Events created, check your calendar</h1>
        <br>
        <a href="http://localhost:5000"><button class="submit" style="width:auto">Click here to submit another schedule</button></a>
    </div>
</body>
</html>