<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="../static/style.css">

    <title>OCR Auto Scheduler</title>
</head>

<body>
    <div class='header'>
        <h1>OCR Auto Scheduler</h1>
    </div>
    <div class="results">
        <img src="{{ schedule_image }}" id="schedule" class="schedule_img">

        <h1>{{ ocr_text | safe }}</h1>
        <h3>If this schedule looks correct, please enter your start date and click submit</h3>
        <h3>Otherwise, use the back button in your browser to re-crop the image</h3>

        <form action = "http://localhost:5000/google_login" method = "POST">
            <input type="date" id='startdate' name='startdate'>
            <input type="submit" class="submit">
        </form>
    </div>
    

</body>
</html>